@import url('https://fonts.googleapis.com/css2?family=Kelson+Sans:wght@400;700&family=Lato:wght@300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* Light Mode */
.light-mode {
    background-color: #f4f4f4;
    color: #000000;
}

/* Dark Mode */
.dark-mode {
    background-color: #222222;
    color: #f4f4f4;
}

/* Automatic detection */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222222;
        color: #f4f4f4;
    }
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    position: relative;
}

/* Toggle Button */
.toggle-theme {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
}

/* Logo */
.esn-logo {
    height: 48px;
    width: auto;
}

/* Drink Categories */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

/* Category Colors (Repeats Every 4 Categories) */
.light-mode .category:nth-child(4n+1) { background-color: #00aeef; }
.light-mode .category:nth-child(4n+2) { background-color: #ec008c; }
.light-mode .category:nth-child(4n+3) { background-color: #7ac143; }
.light-mode .category:nth-child(4n+4) { background-color: #f47b20; } 
/* Dark Mode Adjustments */
.dark-mode .category:nth-child(4n+1) { background-color: #00aeef; }
.dark-mode .category:nth-child(4n+2) { background-color: #ec008c; }
.dark-mode .category:nth-child(4n+3) { background-color: #7ac143; }
.dark-mode .category:nth-child(4n+4) { background-color: #f47b20; }

.dark-mode .category {
    filter: saturate(80%);
}

.category {
    padding: 16px;
    border-radius: 16px;
    color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
}

/* Centering Category Titles */
.category h2 {
    text-align: center;
}

/* Light Mode Category Colors */
.light-mode .category {
    background-color: #e0e0e0;
    color: #f4f4f4;
}

/* Dark Mode Category Colors */
.dark-mode .category {
    background-color: #444444;
    color: #222222;
}

/* Drink Item Styling */
.item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.item span {
    font-weight: bold;
}
